html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue',
   sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background: #444;
  color: #DDD;
}

.container>section {
  width: 50%;
  height: 100%;
}

/* profile imge section*/
.profile-image {
  background: url(img/avatar.png) no-repeat bottom center;
  background-size: 80% 90%;
  border-right: 1px solid black;
  
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo{
  max-width: 270px;
  height: 160px;
  background: url(img/logo.png)
  no-repeat right center;
}

.profession {
  max-width: 600px;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 20px;
}

/* links section*/

.link{
  margin-top: 45px;

}

.mail-link{
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
}

/* social links */
.social-links{
  margin-top: 15px;
}

.social-links span{
  display: inline-block;
  max-width: 36px;
  height: 24px;
  background: green;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;

}

.youtube{
  background-image: url(img/youtube.svg);
}
.twitter{
  background-image: url(img/twitter_icon.svg);
}
.facebook{
  background-image: url(img/facebook_icon.svg);
}
.snapchat{
  background-image: url(img/snapchat_icon.svg);
}
.instagram{
  background-image: url(img/.instagram_icon.svg);
}
